<!doctype html>
<html lang="en" ng-app="partyApp">
<head>
	<meta charset="utf-8">
	<!-- 	<link rel="stylesheet" href="css/app.css">
	  <link rel="stylesheet" href="css/bootstrap.min.css">
	 -->
	 <title> TESTING PARTY </title>
</head>
<body>
	<h1>HELLO GIORGIA</h1>

	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="app.js"></script>
</body>

</html>