<!doctype html>
<html lang="en" ng-app="partyApp">
<head>
	<meta charset="utf-8">
		<link rel="stylesheet" href="css/app.css">
	  <link rel="stylesheet" href="css/bootstrap.min.css">
	 <title> TESTING PARTY </title>
</head>
<body>
<div id="firstdiv" ng-controller="CreateNewParty">
	<form id="createNewParty" ng-submit="submit()">
	<label for="partyName">Event Name</label>
	<input id="partyName" type="text" required ng-model="name" placeholder="Name of your party event">
	<label for="partyOrganizer">Party Organizer</label>
	<input id="partyOrganizer" type="text" required ng-model="organizer">
	<label for="partyLocation">Party Location</label>
	<input id="partyLocation" type="text" ng-model="location">
	<label for="partyDate"> On Date: </label>
	<input id="partyDate" type="text" required ng-pattern="/\d\d/\d\d/\d\d\d/" ng-model="date">
	<button type="submit" class="btn btn-primary">Create</button>
	</form>
	 {{party.name}}
</div>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="app.js"></script>
	<script src="controllers/DisplayAvailableParty.js"></script>
	<script src="controllers/CreateNewParty.js"></script>
	 <!-- // <script src="services/PartyData.js"></script> -->
</body>
</html>