<div class="row">
  <div class="span11">
    <div class="firstdiv">
      <form id="createNewParty" ng-submit="submit()">
        <label for="partyName">Event Name</label>
        <input id="partyName" type="text" required ng-model="name" placeholder="Name your Event">
        </br>
        <label for="partyOrganizer">Party Organizer</label>
        <input id="partyOrganizer" type="text" required ng-model="organizer" placeholder="Organized by">
        </br>
        <label for="partyLocation">Party Location</label>
        <input id="partyLocation" type="text" style="width:37%; color:#52575c" ng-model="location" placeholder="Where">
        </br>
        <label for="partyDate"> On Date: </label>
        <input id="partyDate" type="text" required ng-pattern="/\d\d/\d\d/\d\d\d/" ng-model="date" placeholder="DD/MM/YYYY">
        </br>
        <button type="submit" class="btn btn-primary">Create Party</button>
      </form>
      <div ng-show="showMe()" class="row">
        <div class="span3">
          <div> <strong>Venue Name:{{party.name}}</strong>
          </div>
          <div> <strong>Date:{{party.date}}</strong>
          </div>
          <div> <strong>Organizer:{{party.organizer}}</strong>
          </div>
        </div>
      </div>
      <div>
        <div ng-show="showMe()" class="span4">
          <address> 
        		<strong> Address: {{party.location}}</strong>
    			</address>
        </div>
      </div>
    </div>
  </div>
</div>